/*
	Debian GitWeb Stylesheet

	Copyright 2011 Kalle Söderman

	This stylesheet is free software; you can redistribute it and/or modify it
	under the terms of the GNU General Public License, version 2, as published by
	the Free Software Foundation.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY
	WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
	PARTICULAR PURPOSE. See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with
	this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
	Street, Fifth Floor, Boston, MA 02110-1301 USA.

	The license text can also be found at http://www.gnu.org/copyleft/gpl.html and
	/usr/share/common-licenses/GPL-2 on Debian GNU/Linux.  
*/

@import url("debian.css");

#content {
	background-color: transparent;
}
span.cntrl {
	border: dashed #aaaaaa;
	border-width: 1px;
}

img.logo {
	float: right;
	border-width: 0px;
}

img.avatar {
	vertical-align: middle;
}

a.list img.avatar {
	border-style: none;
}
div.page_header {
	margin:0;
	font-size: 0.75em;
	text-transform: lowercase;
	line-height: 2;
	background-color: transparent;
	background-color: #f5f6f7;
	border-bottom: 1px solid #d2d3d7 ;
	min-height: 20px;
	font-size: 0.75em;
}

div.page_header:before {
	content: "/";
	margin-left: 0.5em;
}

div.page_header img {
	display: none;
}

div.page_header a:visited, a.header {
	color: #0000cc;
}

div.page_nav {
	padding: 0.5em 0 0 0;
	margin: 0;
}
div.page_nav br {
}

div.page_nav a:visited {
}

div.page_path {
	font-weight: bold;
	border: solid #d9d8d1;
	border-width: 0px 0px 1px;
}

div.page_footer {
	height: 1.5em;
	margin: 2em 0 1em 0;
	font-size: 0.75em;
}

div.page_footer_text {
	float: left;
	font-style: italic;
}

div#generating_info {
	text-align: center;
	color: #505050;
}

div.page_body {
	margin: 2em 0 2em 0;
}

div.title, a.title {
	display: block;
	font-weight: bold;
	text-decoration: none;
	background: #F5F6F7 url('./Pics/reddot.png') repeat-x top left;
	border-bottom: 1px solid #d2d3d7 ;
}

div.readme {
}

a.title:hover {
	background-color: #e4e5e6;
}

div.title_text {
	border: solid #d9d8d1;
	border-width: 0px 0px 1px;
}

div.log_body {
	margin-left:16em;
}

span.age {
	position: relative;
	float: left;
	font-style: italic;
	width: 16em;
}

span.signoff {
	color: #888888;
}

div.log_link {
	font-family: sans-serif;
	font-style: normal;
	position: relative;
	float: left;
	width: 16em;
}

div.list_head {
	border: solid #d9d8d1;
	border-width: 1px 0px 0px;
	font-style: italic;
}

.author_date, .author {
	font-style: italic;
}

div.author_date {
	border: solid #d9d8d1;
	border-width: 0px 0px 1px 0px;
}

a.list {
	text-decoration: none;
	color: #000000;
}

a.subject, a.name {
	font-weight: bold;
}

table.tags a.subject {
	font-weight: normal;
}

a.list:hover {
	text-decoration: underline;
	color: #880000;
}

a.text {
	text-decoration: none;
	color: #0000cc;
}

a.text:visited {
	text-decoration: none;
	color: #880000;
}

a.text:hover {
	text-decoration: underline;
	color: #880000;
}

table {
	border-spacing: 0;
	font-size: 0.75em;
	line-height: 2;
}

td {
	margin: 0;
	padding: 0 0.5em 0 0;
}

table.diff_tree {
}

table.combined.diff_tree th {
	text-align: center;
}

table.combined.diff_tree td {
}

table.combined.diff_tree th.link,
table.combined.diff_tree td.link {
}

table.combined.diff_tree td.nochange a {
	color: #6666ff;
}

table.combined.diff_tree td.nochange a:hover,
table.combined.diff_tree td.nochange a:visited {
	color: #d06666;
}

table.blame {
	border-collapse: collapse;
}

table.blame td {
	vertical-align: top;
}

th {
	text-align: left;
}

/* do not change row style on hover for 'blame' view */
tr.light,
table.blame .light:hover {
	background: url('./Pics/greydot.png') repeat-x bottom;
}

tr.dark,
table.blame .dark:hover {
	background: #f5f6f7 url('./Pics/greydot.png') repeat-x bottom;
}

/* currently both use the same, but it can change */
tr.light:hover,
tr.dark:hover {
	background-color: #e0e3e6;
}

/* boundary commits in 'blame' view */
/* and commits without "previous" */
tr.boundary td.sha1,
tr.no-previous td.linenr {
	font-weight: bold;
}

/* for 'blame_incremental', during processing */
tr.color1 { background-color: #f6fff6; }
tr.color2 { background-color: #f6f6ff; }
tr.color3 { background-color: #fff6f6; }

td {
	vertical-align: top;
}

td.link, td.selflink {
	font-family: sans-serif;
	font-size: 0.75em;
}

td.selflink {
}

td.sha1 {

}

.error {
	color: red;
	background-color: yellow;
}

td.current_head {
	text-decoration: underline;
}

table.diff_tree span.file_status.new {
	color: #008000;
}

table.diff_tree span.file_status.deleted {
	color: #c70036;
}

table.diff_tree span.file_status.moved,
table.diff_tree span.file_status.mode_chnge {
	color: #777777;
}

table.diff_tree span.file_status.copied {
  color: #70a070;
}
table.project_list {
	width: 100%;
	background:  url('./Pics/reddot.png') repeat-x top left;
}
/* noage: "No commits" */
table.project_list td.noage {
	color: #808080;
	font-style: italic;
}

/* age2: 60*60*24*2 <= age */
table.project_list td.age2, table.blame td.age2 {
	font-style: italic;
}

/* age1: 60*60*2 <= age < 60*60*24*2 */
table.project_list td.age1 {
	color: #009900;
	font-style: italic;
}

table.blame td.age1 {
	color: #009900;
	background: transparent;
}

/* age0: age < 60*60*2 */
table.project_list td.age0 {
	color: #009900;
	font-style: italic;
	font-weight: bold;
}

table.blame td.age0 {
	color: #009900;
	background: transparent;
	font-weight: bold;
}

td.pre, div.pre, div.diff {
	white-space: pre;
	font-family: monospace;
	font-size: 1.33em;
}

td.mode {
	font-family: monospace;
	font-size: 1.33em;
}

/* progress of blame_interactive */
div#progress_bar {
	height: 2px;
	background-color: #d8d9d0;
}
div#progress_info {
	float: right;
	text-align: right;
}

/* format of (optional) objects size in 'tree' view */
td.size {
	font-family: monospace;
	font-size: 1.33em;
	text-align: right;
}

/* styling of diffs (patchsets): commitdiff and blobdiff views */
div.diff.header,
div.diff.extended_header {
	white-space: normal;
}

div.diff.header {
	font-weight: bold;

	background-color: #e4e5e6;

	border: solid #d9d8d1;
	border-width: 1px 0px 1px 0px;
}

div.diff.header a.path {
	text-decoration: underline;
}

div.diff.extended_header,
div.diff.extended_header a.path,
div.diff.extended_header a.hash {
	color: #777777;
}

div.diff.extended_header .info {
	color: #b0b0b0;
}

div.diff.extended_header {
	background-color: #f6f5ee;
}

div.diff a.list,
div.diff a.path,
div.diff a.hash {
	text-decoration: none;
}

div.diff a.list:hover,
div.diff a.path:hover,
div.diff a.hash:hover {
	text-decoration: underline;
}

div.diff.to_file a.path,
div.diff.to_file {
	color: #2e9900;
}

div.diff.add {
	color: #008800;
}

div.diff.from_file a.path,
div.diff.from_file {
	color:#c70036;
}

div.diff.rem {
	color: #cc0000;
}

div.diff.chunk_header a,
div.diff.chunk_header {
	color: #990099;
}

div.diff.chunk_header {
	border: dotted #ffe0ff;
	border-width: 1px 0px 0px 0px;
}

div.diff.chunk_header span.chunk_info {
	background-color: #ffeeff;
}

div.diff.chunk_header span.section {
	color: #aa22aa;
}

div.diff.incomplete {
	color: #cccccc;
}

div.diff.nodifferences {
	font-weight: bold;
	color: #600000;
}

div.index_include {
	border: solid #d9d8d1;
	border-width: 0px 0px 1px;
}

div.search {
	font-size: 0.75em;
	font-weight: normal;
	float: right;
	padding-top: 0.75em;
	line-height: 2;
}

p.projsearch {
	font-size: 0.75em;
	text-align: right;
}

td.linenr {
	text-align: right;
}

a.linenr {
	color: #999999;
	text-decoration: none;
	padding-right: 0.5em;
}

span.refs span {
	font-weight: normal;
	background-color: #c70036;
	font-weight: bold;
	font-size: 0.75em;
	padding: 2px 4px 2px 4px;
	margin-left: 0.05em;
}
span.refs span.remote {
	color: white;
}
span.refs span a {
	text-decoration: none;
	color: inherit;
}

span.refs span a:hover {
	text-decoration: underline;
}

span.refs span.indirect {
	font-style: italic;
}

span.refs span a {
	text-decoration: none;
	color: inherit;
}

span.refs span a:hover {
	text-decoration: underline;
}

span.refs span.indirect {
	font-style: italic;
}

span.refs span.ref {
	background-color: #aaaaff;
	border-color: #ccccff #0033cc #0033cc #ccccff;
}

span.refs span.tag {
	background-color: #ffffaa;
	border-color: #ffffcc #ffee00 #ffee00 #ffffcc;
}

span.refs span.head {
	background-color: #48ed00;
	color: black;
}

span.atnight {
	color: #cc0000;
}

span.match {
	color: #e00000;
}

div.binary {
	font-style: italic;
}

table.projects_list, table.object_header {
	margin: 1em 0;
}

div.header {
	margin: 1em 0 0 0;
	background: url('./Pics/greydot.png') repeat-x bottom left;
}

table.shortlog td {
	padding: 0 0.5em 0 0;
}

div.pre, div.diff {
	font-size: 1em;
	line-height: 1.5;
	color: black;
}

#footer {
	margin-left:0;
	margin-right: 0;
}
