/*
  Copyright 2010 Stuart Prescott <stuart@debian.org>

  infobot-web is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  infobot-web is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, see <http://www.gnu.org/licenses/>.
*/

/*#body {
  font-size: 90%;
}*/

div.page_header:before {
  content: "‹";
  margin-left: 0.5em;
}

.searchresults, .factoid {
  border: 1px solid #999999;
  border-collapse: collapse;
  line-height: 140%;
}

.searchresults table, .factoid table {
  padding-bottom: 2em;
}


.searchresults td, .searchresults th, .factoid td, .factoid th {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.searchresults tr:nth-child(odd), .stats tr:nth-child(odd) {
  background-color: #f2f2ff;
}

.searchresults tr:hover, .stats tr:hover {
  background-color: #e2e2ee;
}

.searchresults th, .stats th {
  font-size: 120%;
}

.mtime {
  font-size: 75%;
}

.factoid tr, .factoid td {
  border: 1px solid #aaaaaa;
}

.missingxref {
  color: #dd3333;
}

.botsearchform {
  padding-top: 2em;
}

.botsearchform select {
  border: 1px solid #999999;
}

.botsearchform input {
  border: 1px solid #999999;
}

code {
  font-family: monospace;
}

.stats table {

}

.stats td {
  line-height: 140%;
}

.factoid_len_ok {
}

.factoid_len_long {
  color: #E47833;
  text-decoration: underline;
}

.factoid_len_huge {
  color: #cc3333;
  text-decoration: underline;
}
